@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #F5F5F5;
}
.modal {
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 23rem;
    width: 20rem;
    margin-top: 8rem;
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.modal .title {
    padding-top: 20px;
    filter: brightness(1.5);
    font-size: 28px;
}
.modal .msg {
    filter: brightness(1);
}
.modal img {
    width: 45%;
    padding-top: 20px;
}
.modal .buttons {
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonYes {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 6rem;
    margin: 0 5px;
    font-family: 'Ubuntu', sans-serif;           
}
.buttonNo {
    cursor: pointer;
    outline: 0;
    background: transparent;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 6rem;
    margin: 0 5px;
    font-family: 'Ubuntu', sans-serif;          
}
.buttonClose {
    cursor: pointer;
    outline: 0;
    background: #ff0034;
    color: white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 6rem;
    margin: 0 5px;
    font-family: 'Ubuntu', sans-serif;
    display: none;
    border: none;       
}



.shine {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: rgba(40, 71, 247, 0.5);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}

/* Made with libyzxy0(Jan Liby Dela Costa) */
